In [14]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from config import api_key

In [15]:
electrical_generation = "Resources/electrical_generation.csv"
renewable_supply = "Resources/renewable_supply.csv"
electric_generation_df = pd.read_csv(electrical_generation)
renewable_supply_df = pd.read_csv(renewable_supply)
renewable_supply_df.head()

   years  Hydro Electric  Wind Power  Geo Thermal  Solar Power
0   2001        77844.57     3893.64      2217.01        391.6
1   2002        78297.34     4416.64      2254.25        396.9
2   2003        77901.20     6001.79      2135.25        397.3
3   2004        77196.86     6463.70      2163.88        398.1
4   2005        77112.83     8719.17      2297.10        411.1

In [16]:
combined_df = pd.merge(electric_generation_df, renewable_supply_df, on = 'years')
combined_df.head()

,years,Coal,Hydro Power,Natural Gas,Nuclear Fuel,Other Gases,Other Non Renewables,Pumped Hydro Power,Total Generation,Hydro Electric,Wind Power,Geo Thermal,Solar Power
0,2001,5216.317700,594.413813,1751.038638,2106.373447,24.765663,32.620098,-24.173822,10237.379834,77844.57,3893.64,2217.01,391.6
1,2002,5296.247535,724.188572,1893.166404,2137.161882,31.404616,37.060022,-23.953228,10571.101973,78297.34,4416.64,2254.25,396.9
2,2003,5407.497936,755.633761,1780.568583,2092.418343,42.739778,38.478096,-23.383740,10638.863474,77901.20,6001.79,2135.25,397.3
3,2004,5405.192741,733.380611,1940.163951,2154.449145,41.673302,38.886333,-23.191831,10848.511503,77196.86,6463.70,2163.88,398.1
4,2005,5514.720657,740.606165,2084.822586,2142.428397,36.888059,35.126177,-17.966543,11110.747111,77112.83,8719.17,2297.10,411.1

In [17]:
# US Consumption Data
fossilfuel_consumption = "Resources/FossilFuelConsumption.csv"
renewable_consumption = "Resources/USRenewableConsumption.csv"
fossilfuel_consumption_df = pd.read_csv(fossilfuel_consumption)
renewable_consumption_df = pd.read_csv(renewable_consumption)
renewable_consumption_df.head()

   Year  Hydroelectric      Wind     Solar  Geothermal
0  1990       3.046391  0.029007  0.059420    0.170747
1  1991       3.015943  0.030796  0.062354    0.177626
2  1992       2.617436  0.029863  0.063676    0.178699
3  1993       2.891613  0.030987  0.066060    0.185673
4  1994       2.683457  0.035560  0.068102    0.173464

In [18]:
USconsumption_combined_df=pd.merge(fossilfuel_consumption_df, renewable_consumption_df, on="Year")
USconsumption_combined_df

,Year,Petroleum (mmbpd),Natural Gas (bcf/day),Coal (MMSt),Hydroelectric,Wind,Solar,Geothermal
0,1990,16.989137,52.530288,902.768744,3.046391,0.029007,0.059420,0.170747
1,1991,16.713847,53.594703,895.303788,3.015943,0.030796,0.062354,0.177626
2,1992,17.032224,55.268382,908.113844,2.617436,0.029863,0.063676,0.178699
3,1993,17.236999,56.958472,939.165111,2.891613,0.030987,0.066060,0.185673
4,1994,17.718979,58.211229,955.626226,2.683457,0.035560,0.068102,0.173464
5,1995,17.724571,60.840793,962.736259,3.205307,0.032630,0.069347,0.152057
6,1996,18.309109,61.773442,1007.733406,3.589656,0.033440,0.070417,0.163359
7,1997,18.620302,62.294088,1033.221470,3.640458,0.033581,0.069586,0.166698
8,1998,18.917022,60.947825,1032.672650,3.297054,0.030853,0.069053,0.168450
9,1999,19.519432,61.384995,1035.740304,3.267575,0.045894,0.067937,0.170921
10,2000,19.701119,63.757540,1085.032590,2.811116,0.057057,0.065587,0.164364
11,2001,19.648520,60.927744,1067.265239,2.241858,0.069617,0.064267,0.164461
12,2002,19.761645,63.087741,1070.394756,2.689017,0.105334,0.063006,0.171164
13,2003,20.033592,61.031505,1090.458028,2.792539,0.114571,0.061948,0.173445
14,2004,20.731123,61.209136,1114.141670,2.688468,0.141749,0.062685,0.178147
15,2005,20.802152,60.313535,1135.069920,2.702942,0.178088,0.063446,0.180703
16,2006,20.687475,59.449507,1121.115532,2.869035,0.263738,0.068441,0.181200
17,2007,20.680369,63.297987,1132.083565,2.446389,0.340503,0.075657,0.185774
18,2008,19.497954,63.598286,1126.288328,2.511108,0.545548,0.073814,0.192433
19,2009,18.771391,62.767244,1012.462846,2.668824,0.721127,0.077654,0.200185
20,2010,19.180114,65.991141,1048.695744,2.538541,0.923271,0.090483,0.207979
21,2011,18.886688,67.061343,1014.454534,3.102852,1.167094,0.111129,0.212311
22,2012,18.486649,69.777204,904.165590,2.628702,1.339365,0.156849,0.211592
23,2013,18.966860,71.657648,925.893046,2.562382,1.600424,0.224523,0.214006
24,2014,19.100074,72.858455,928.832869,2.466577,1.726026,0.336939,0.214490
25,2015,19.533503,74.640617,803.566248,2.321177,1.775705,0.425727,0.211836
26,2016,19.687235,74.984129,733.519456,2.472442,2.093728,0.568665,0.209604
27,2017,19.957717,74.317060,721.417976,2.766969,2.345611,0.774466,0.210233
28,2018,20.474823,81.681260,687.697499,2.675358,2.546014,0.955601,0.218939
29,2019,20.816959,82.531238,632.670612,2.461102,2.891694,1.077747,0.229400
30,2020,21.037267,83.564262,599.214620,2.601386,3.253554,1.273658,0.231220